@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #444444;
    font-family: "Gloria Hallelujah";
    font-size: 18px;
}

header h1 {
    color: #fead18;
}

nav {
    display: flex;
    align-items: center;
    background: linear-gradient(0deg, #444444, #555555);
    height: 25px;
    font-size: 14px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    height: 25px;
}

nav ul li:hover {
  background-color: #666666;
  border-radius: 3px;
  color: #fead18;
}

main {
    height: calc(100vh - 110px);
}

footer {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    background-color: #444444;
}
